@import "./index.scss";

.success {
  border-color: 1px solid $status-ok;
  background-color: $background-success;
}

.error {
  border-color: 1px solid $error;
  background-color: $background-error;
}
/*
.App {
  h1 {
    color: #00873d;
    span {
      font-weight: 100;
    }
  }
}
*/

/* .App {
  color: #00873d;
} */
