//Color palette

//accents
$accent-1: #6FFFB0;
$accent-2: #FD6FFF;
$accent-3: #81FCED;
$accent-4: #FFCA58;

//neutrals
$neutral-1:#00873D;
$neutral-2:#3D138D;
$neutral-3:#00739D;
$neutral-4:#A2423D;

//status
$status-critical: #FF4040;
$status-error: #FF4040;
$status-warning: #FFAA15;
$status-ok: #00C781;
$status-unknown: #CCCCCC;

//button
$pill-button: #7D4CDB;