//Color palette

//accents
$accent-1: #6fffb0;
$accent-2: #fd6fff;
$accent-3: #81fced;
$accent-4: #ffca58;

//background
$background-error: #ff00001f;
$background-dark: #000;
$background-dark-light: #252527;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-grey-light: #e8e8e8;
$background-light: #fff;
$background-success: #84b84c1f;

//borders
$border-light: #fff;
$border-dark: #000;
$border-dark-light: #252527;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-grey-light: #e8e8e8;

//button
$pill-button: #7d4cdb;

//fonts
$font-dark-light: #252527;
$font-grey: #808080;
$font-grey-dark: #000;
$font-grey-light: #e8e8e8;
$font-light: #fff;

//menu
$menu-color: #252527;

//neutrals
$neutral-1: #00873d;
$neutral-2: #3d138d;
$neutral-3: #00739d;
$neutral-4: #a2423d;

//primary
$menu-color: #252527;
$primary-hover: #0280b3;
$primary-standard: #0098d3;

//status
$status-critical: #ff4040;
$status-error: #ff4040;
$status-ok: #00c781;
$status-unknown: #cccccc;
$status-warning: #ffaa15;

//success
$success: #34b84c;
$error: #f00;
