//Responsive down size (Puntos de corte hacia abajo)
$media-breakpoint-down-xs: 413.98;
$media-breakpoint-down-sm: 573.98;
$media-breakpoint-down-md: 767.98;
$media-breakpoint-down-lg: 991.98;
$media-breakpoint-down-xl: 1199.98;

//Responsive up size
$media-breakpoint-up-xs: 320;
$media-breakpoint-up-sm: 576;
$media-breakpoint-up-md: 768;
$media-breakpoint-up-lg: 992;
$media-breakpoint-up-xl: 1200;
